h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.signin-button {
	border-radius: 20px;
	border: 1px solid #570a7bbc;
	background-color: #7818a4;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	transition: transform 80ms ease-in;
}

.signin-button:active {
	transform: scale(0.95);
}

.signin-button:focus {
	outline: none;
}

.signin-button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input, .message-box {
	resize: none;
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.background { 
	padding: 10px;
	display: flex;
	width: 100%;
	height: 80vh;
	justify-content: center;
	align-items: center;
}

.container {
	
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}


.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.username-container { 
	width: 400px;
	padding-top: 40px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
	0 10px 10px rgba(0,0,0,0.22);
	padding-bottom: 30px;
}

.username-container form { 
	display: flex;
	justify-content: center;
	gap: 5px;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

.message-box { 
	height: 140px;;
}

.no-animation { 
	animation: none
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background-color: #5f0a87;
    background-image: linear-gradient(326deg, #7818a4 20%, #5f0a87 80%);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	padding: 5px;
	border: 1px solid rgba(0, 0, 0, 0.236);
}

.forgot { 
	margin-bottom: 4px;
	cursor: pointer;
}

.forgot:hover { 
	text-decoration: underline;
}

@media screen and (max-width: 800px) {
    .background {
		margin: 0 0px 50px 0px;
		padding: 0 10px 0 10px;
	}
	.overlay-container{ 
		display: none;
	}
	.sign-in-container { 
		width:100%;
		opacity: 1;
	}
	.container.right-panel-active .sign-up-container {
		width: 100%;
		transform: translateX(0%);
		opacity: 1;
		animation: none;
	}
	.container.right-panel-active .sign-in-container {
		opacity: 0;
		transform: translateX(-100%);
	}
	.form-container { 
		transition: none;
	}

	.mobile-signin-button { 
        display: block;
	}
	
}



