.leaderboard-container { 
    width: 670px;
    display:flex;
    height: 100%;
    z-index: 100;
    padding: 20px;;
}

.first-tab { 
    width: 350px;
    height: 100%;
    box-shadow: 2px 5px 10px 2px rgba(0,0,0,0.4);
    background-color: #5f0a87;
    background-image: linear-gradient(326deg, #7818a4 20%, #5f0a87 80%);
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.first-tab h1 {
    color: white;
    font-size:25px;
    margin-bottom: 0px;
}
.first-tab h2 { 
    margin: 5px 0 5px 0;
    color: rgb(240, 234, 234);
    font-weight: 300;
    font-size: 21px;;
}

.decklist-button {
    border-radius: 20px;
	border: 1px solid white;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
}

.description-wrapper { 
    display: flex;
    align-items: center;
    height: 90px;
}

.description { 
    font-size: 15px;
    padding: 10px;
    word-wrap: break-word;
    font-weight: 300;
    color: rgba(229, 222, 222);
    font-style: italic
}

.first-tab img { 
    margin: 10px 0 10px 0;
    width: 70%;
    box-shadow: 2px 5px 10px 2px rgba(0,0,0,0.2);
    border-radius: 5%; 
    z-index: 1000;
}
 
.leaderboard-tabs { 
    align-self: center;
    transform: scaleY(.97);
    width: 370px;
    height: 100%;
    box-shadow: 2px 5px 10px 2px rgba(0,0,0,0.4);
}

.leaderboard-tab { 
    border-bottom: dotted 1px rgba(166, 161, 161, 0.25);
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
}

.deck-details { 
    word-wrap: break-word;
    height: 100%;
    width: 100%;
    padding-left: 25px;
    padding-right: 2px;
    line-height: 22px;;
}

.deck-details :first-child{ 
    font-size: 18px;
    color: #5f0a87
}

.deck-details :nth-child(2), .deck-details :nth-child(3) { 
    color: rgb(63, 60, 60);
}

.deck-details :last-child{ 
    font-size: 14px;
    font-weight: 400;
    
}

.factor { 
    width: 45px;
}

.white-background { 
    height: 165px;
    width: 365px;;
    margin-top: -75px;
    transform: skewX(358deg);
    background-color: white;
    z-index: 800;
    box-shadow: 2px 5px 10px 2px rgba(0,0,0,0.4);
    padding: 10px;
}

#first-rank {
    position: absolute;
    display: flex;
    right: 20px;
    top: 110px;
    align-items: center;
    height: 20px
}

#first-rank div { 
    margin: 3px 3px 0 0;
}

#first-rank img { 
    margin: 0;
    box-shadow: none;
}

.first { 
    width: 100%;
    padding-top: 65px;
    text-align: center;
    padding-left: 0;
}

@media (max-width: 600px) { 
    .leaderboard-container { 
        
        flex-direction: column;
        width: 100%;
    }
    .leaderboard-tabs { 
        transform: scaleY(1.00);
        width: 90%;
    }

    .first-tab { 
        width: 100%;
        height: 500px;
    }

    .white-background { 
       width: calc(100% + 50px);
    }
}

@media (max-width: 350px) { 
    .white-background { 
        height: 230px;
       
    }
    #first-rank {
        right: 48%;
        top: auto;
        bottom: 7px;
        transform: translateX(50%)
    }
    
    #first-rank div { 
        margin: 3px 3px 0 0;
    }
    
    #first-rank img { 
        margin: 0;
        box-shadow: none;
    }
    
    .first { 
        width: 100%;
        padding-top: 65px;
        text-align: center;
        padding-left: 0;
    }
}

