.deckcard-container { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}

.pagination-container {
    display: flex; 
    padding: 10px;
    justify-content: center;
}

.pagination-wrapper {
    height:40px; 
    background-color: rgba(0,0,0, 0.80);
    display: flex;
    gap: 5px;
    color: white;
    justify-content: center;
    border-radius: 10px;
    padding: 0 5px 0 5px;
}

.number, .prev, .next { 
    margin: 5px 0 5px 0;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.prev, .next { 
    padding: 3px 0;
}

.number:hover, .prev:hover, .next:hover, .active-page { 
    background-color: rgba(145, 139, 139, 0.35);
}



