.editor-sidebar-container, .editor-sidebar-image { 
    position: absolute;
    right: 0px;
    width: 290px;
    height: auto;
}
.editor-sidebar-container {   
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
	2px 10px 10px rgba(0,0,0,0.22);
    text-align: center;
    margin-bottom: 40px;
    z-index: 1000;
}

.commander-image  {
    width: 100%;
    border-radius: 12px;
    z-index: 50;
}

.partner-image {
    border-radius: 16px;
    margin-top: -313px;
    z-index: 100;
    margin-left: 10px;
}

.commander-image:hover { 
    z-index: 150;
}


.mtg-mate { 
    text-align: center;
    padding-top: 15px;
    font-size: 16px;;
     height: 50px;
     width: 100px;
     color: white;
     text-transform: uppercase;
     background-image: linear-gradient(326deg, #7818a4 20%, #5f0a87 80%);
}

.menu-button, .menu-button-closed { 
    display: inline block;
    position: absolute;
    padding: 10px;
    background-color: #5f0a87;
    border-radius: 50%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
	2px 10px 10px rgba(0,0,0,0.22);
    margin-left: -200px;
    margin-top: -10px;
    cursor: pointer;
}

.menu-button-closed { 
    right: 20px; 
    margin-top: 0;
}

.fixed-editor-sidebar { 
    position: fixed;
    top: 120px;
}

.purchase-wrapper { 
    display: flex;
    justify-content: center;
    width: 100%;
}

.budget { 
    width: 60%;
    align-self: center;
    height: 50px;
    padding-top: 15px;
    background-color: rgba(26, 24, 24, 0.951);
    color: white;
}

.offset  {
    margin-left: -10px;
}

.deck-type{ 
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 900;
    color: rgb(63, 57, 57);
}

@media screen and (max-width:900px) { 
    .editor-sidebar-container { 
        padding: 10px 100px 10px 100px;
        padding-top: 10px;
        position: relative;
        width: 100%;
    }
    .editor-sidebar-bracket { 
        padding: 0;
    }
}

@media screen and (max-width:800px) { 
    .editor-sidebar-container { 
        position: relative;
        width: 100%;
    }
    .commander-image { 
        width: 250px;
        height: 348px 
    }
}

@media screen and (max-width: 600px) {
    .editor-sidebar-container { 
        padding: 10px 20px;
    }
}