.a-box {  
    position: relative;
    display: inline-block;
    width: 280px;
    text-align: center;
    z-index: 5;
    cursor: pointer;
    margin: 20px 0 20px 0;
  }
  
  #commander-art {
    position: relative;
      box-shadow: 2px 5px 10px 2px rgba(0,0,0,0.4);
      object-fit: fill;
      margin: 0;
      border-radius: 20px;
      z-index: 1000;
  }
  
  .deck-info-container {
    position: relative;
    z-index: -10;
    box-shadow: 2px 5px 10px 2px rgba(0,0,0,0.3);
    padding: 130px 20px 20px 20px;
    border-radius: 20px;
    margin: -120px 0px 0px 0px;
    line-height: 19px;
    font-size: 14px;
    background: white;
    height: 310px;
  }

  .inner-diagnal{ 
    position: absolute;
    top: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 115px;
    width: 100%;
    right:0px;
    background-color: #5f0a87;
    background-image: linear-gradient(326deg, #7818a4 20%, #5f0a87 80%);
    clip-path: polygon(0 0,100% 0, 100% 70%, 0 100%)
  }

  .description-deckcard { 
    font-style: italic;
    font-weight: 300;
    }

  .deck-info-container h3 {
    margin: 15px 0px 10px 0px;
    color: #5f0a87;
    font-size: 20px;
  }

  .deck-info-container h4 {
    margin: 10px 0px 5px 0px;
    font-size: 18px;
    color: #333333
  }

  .a-box:hover .deck-info-container h4, .a-box:hover .deck-info-container h3 {
    text-decoration: underline;
  }

  .a-box:hover .deck-info-container { 
    box-shadow: 3px 6px 10px 3px rgba(0,0,0,0.5);
  }

  .rating { 
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
  }

  #rating { 
    padding: 7px 2px;
    font-size: 15px;
    margin-bottom: 10px;;
  }

  .edit-deck { 
    background-color: transparent;
    padding: 5px;
    border: none;
    width: 30px;
    margin-top: 10px;
    margin-left: 210px;

    cursor: pointer;
  }

  .edit-deck:hover{ 
     transform: scale(1.1);
     transition: 1s;
  }