.outer-cardlist-container { 
    display: flex;
    justify-content: center;
}

.colored-image-background img { 
    box-shadow: 1px 2px 10px 3px rgba(0,0,0,.4);
}

.card-list-container { 
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
}

.type { 
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 15px;;
}

.card-list-container img { 
    grid-area: image;
}

.column-item { 
    width: 180px;
    margin: 10px 10px 15px 10px;
}

.card-text, .ilegal-card-text { 
    font-size: 14px;
    cursor: pointer;
    padding-top: 1px;
}

.card-text:hover {
    color: #5f0a87;
    display: flex;
    gap: 5px;
}



.image-tooltip { 
    border-radius: 13px;
    width: 240px;
}

.tooltip { 
    opacity: 1 !important;
    padding: 5px !important;
    z-index: 10000 !important;
    border-radius: 10px !important;
}

.tooltip div { 
    margin-top: 5px
}

.ilegal-tooltip { 
    background-color: rgb(168, 39, 39);
} 

.ilegal-card-text { 
    color: rgb(250, 2, 2)
}

.tooltip div { 
    text-align: center;
}

.prompt { 
    text-align: center;
}

.cardlist-description { 
    margin: 50px 15px 15px 20px;
    padding: 20px;
    border-top: black 1px dashed;
    text-align: center;
}

.cardlist-description div { 
    font-style: italic;
}

.ilegal-wrapper { 
    display: flex;
    justify-content: center;
    margin: 0;
}

.ilegal-wrapper div { 
    width: 200px;
}

@media screen and (max-width: 1000px) { 
    .outer-cardlist-container { 
        margin-right: 0;
        padding: 0;
        justify-content: center;
    }
    .card-list-container { 
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: center;
        margin-left: 0;
        gap: 0;
    }

    .type  {
        text-align: center;
    }

    .card-text { 
        font-size: 15px;
        cursor: pointer;
        text-align: center;
        margin: 0;
    }

    .card-text:hover {
       justify-content: center;
    }

    .active-image { 
        display: none;
    }
    
    .column { 
        width: auto;
    }
    .column-item { 
        margin-bottom: 30px;
    }
} 


