.title { 
    margin: 30px 0 30px 20px;
}

#commander, #title {
    font-size: 2em;
    font-weight: bolder;
    
}

.no-recommended { 
    text-align: center;
    margin-top: 10vh;
    font-size: 18px;
}

#title { 
    opacity: .8;;
    color: purple;
}
