.center { 
     text-align: center;
}

.main-container { 
     margin:0;
     width:100%;
}

.layout { 
     padding: 95px 0 0 250px;
}

.createform-bracket { 
     height: 80px;
}

.invalid, .success { 
     margin-bottom: 5px;
     font-size: 14px;
     color: red;
     z-index: 3000
 }

 .success { 
      color: green;
 }


 .deckPagesTitle { 
     margin:40px 0 30px 30px;;
     color: #5f0a87;
 }

 .spinner { 
     margin-left: 50%;
     transform: translateX(-50%);
     margin-top: 15%;
 }

 a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

@media screen and (max-width: 800px) { 
     .layout { 
          padding-left: 0;
     }
     .createform-bracket { 
          height: 0px;
     
     }
}